# Documantation of today class (9-11-2023)

In [2]:
(lambda x, y : x**y)(2,3)

8

# lambda functions

* these func are called as anonymous func
* these are defined in a single line
* syntax for lambda functions are
       
      * lambda var/s:<statement/s using these var/s>

* these func by default will return a value,no need to write return statement
* there is no cap on no of vars one can use to define a lambda func

### explanation

#### * varname represents an object of type <class,'fucntion'>

#### * lambda is a keyword which is used for defining Anonymous Function

#### * params-list represents list of formal params which are used for storing Values coming from Function calls.


#### * Expression reprsents single executable statement which provides logic for Instant Operations. Here PVM executes single executable statement and whose result returns Automatically / Implcitily (no need to return statement)

In [19]:
x = 5
'Even' if x%2 == 0 else 'odd'

'odd'

In [21]:
(lambda x, y: ([ele for ele in range(x, y+1)if ele%2==0], [ele for ele in range (x, y+1) if ele%2!=0]))(1,10)

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [1]:
x = []
for ele in range(10):
    if ele%2 == 0:
        x.append(ele)

x

[0, 2, 4, 6, 8]

In [23]:
[ele for ele in range (10) if ele%2==0]

[0, 2, 4, 6, 8]

In [26]:
c = lambda x, y : x**y             # here x = 2, y = 3

In [30]:
c(2,3)

8

# map

* we use sap func to apply our func on each element of an iterator

  *syntax of map func:
 * map(func, iterator)

* op of map func is a map object, we need to type cast it to a list or other data type to see the op

### * "FunctionName" represents either Normal function or anonymous functions.
###    * "Iterable_object" represents Sequence, List, set and dict types.

In [33]:
z=map(lambda x: x**2, [1,2,3])
z

In [34]:
list(z)

[1, 4, 9]

In [41]:
z =map (ord,'abc')
list(z)

[97, 98, 99]

In [38]:
1/0

ZeroDivisionError: division by zero

In [39]:
z = map( lambda x: x/0,[1,2,3])
z

In [47]:
list(map(lambda x, y: x+y, [1,2, 3], [10, 20, 30]))

[11, 22, 33]

In [48]:
list(map(lambda x:x**x, [1,2,3]))

[1, 4, 27]

In [46]:
list(map(lambda x, y: x**y, [2,2], [4,5]))

[16, 32]

## filter

### filter() is used for "Filtering out some elements from list of elements by applying to function".

### Syntax:-

#### varname=filter(FunctionName, Iterable_object)

#### * here 'varname' is an object of type <class,'filter'> and we can convert into any iteratable object by using type casting functions.
#### * "FunctionName" represents either Normal function or anonymous functions.
#### * "Iterable_object" represents Sequence, List, set and dict types.

# reduce()


#### reduce() is used for obtaining a single element / result from given iterable object by applying to a function.

### Syntax:- varname=reduce(function-name,iterable-object)

####     * here varname is an object of int, float,bool,complex,str only
####     * The reduce() belongs to a pre-defined module called" functools".

### Internal Flow of reduce()

#### step-1:- Initially, reduce() selects First Two values of Iterable object and place them in First var and Second var .
#### step-2:- The function-name(lambda or normal function) utilizes the values of First var and Second var and applied to the specified logic and obtains the result.
#### Step-3:- reduce () places the result of function-name in First variable and reduce() selects the succeeding element of Iterable object and places in second variable.
#### Step-4: Repeat Step-2 and Step-3 until all elements completed in Iterable object and returns the result of First Variable.

In [12]:
import functools
res = functools.reduce(lambda x, y : x+y, [3,5,9,1,10,20])
res

48

In [11]:
x = functools.reduce(lambda x, y : x+' '+y, 'vickey varun')
x

'v i c k e y   v a r u n'

In [50]:
list(filter(lambda x: True if x%2 == 0 else False, [1,2,3,4,5]))       # which is divisal by 2

[2, 4]

In [53]:
list(filter(lambda x: True if x%2!= 0 else False, [1,2,3,4,5]))        # here will show which is not divisible by 2

[1, 3, 5]

In [56]:
list(filter(lambda x: True if x in 'varun' else False, 'pranI'))

['r', 'a', 'n']

In [58]:
list(filter(lambda x: True if x.isalnum() else False, 'lab$23'))           # here not came special character'$'

['l', 'a', 'b', '2', '3']

In [59]:
list(filter(lambda x: True if x.isalnum() is False else False, 'lab$23'))        # here only special character has came output

['$']

In [ ]:
x = functools.reduce(lambda x, y : x+' '+y, 'Siva Sankar')
x